<div class="flex space-x-10">
  <div class="flex flex-col">
    Local stream
    <video
      #localVideo
      width="400"
      height="400"
      [autoplay]="true"
      [muted]="true"
      [srcObject]="this.socCon.localStream"
    ></video>
  </div>
  <div class="flex flex-col">
    remote stream
    <div class="" >
      <video
        #remoteVideo
        width="400"
        height="400"
        [autoplay]="true"
        [srcObject]="this.socCon.remoteStream"
      ></video>
    </div>
    <span *ngIf="!this.socCon.showRemoteStream">waiting</span>
  </div>
</div>
