.glass {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0.05)
    );
    backdrop-filter: blur(5px);
    --webkit-backdrop-filter: blur(5px);
}
.blur-bg {
    backdrop-filter: blur(10px);
    --webkit-backdrop-filter: blur(10px);
}
